/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow-y: auto;
  background-color: white;
}

.back {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  cursor: pointer;
  margin-top: -2rem;
  margin-left: -2rem;
  width: 5rem;
}